{% extends "admin/layout_admin.html" %} {% block sidebar %}
<div class="flex flex-col h-screen p-4">
  <div class="mb-6 flex justify-center">
    <img
      src="{{ url_for('static', filename='images/logo_rmv.png') }}"
      alt="Logo"
      class="w-24 h-24"
    />
  </div>

  <aside class="flex-1 p-6 rounded-3xl overflow-y-auto bg-[#0BDAAA] mb-1">
    <nav>
      <ul class="space-y-1">
        <li>
          <a
            href="{{ url_for('admin.dashboard') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Statistik</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('program.create_program') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Buat Program Baru</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('program.list_program') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Lihat Program</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('lowongan.create_lowongan') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Buat Pekerjaan Baru</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('lowongan.read_lowongan') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Lihat Pekerjaan</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Memantau Lamaran</a
          >
        </li>
        <li>
          <a
            href="{{url_for('laporan.read_laporan')}}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Laporan</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('artikel.create') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Buat Artikel</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('artikel.index') }}"
            class="block px-4 py-2.5 font-bold text-black hover:bg-[#C7FB01] rounded-2xl"
            >Kelola Artikel</a
          >
        </li>
        <li>
           <a href="{{ url_for('auth.logout') }}" class="flex items-center px-5 py-3 text-gray-800 hover:bg-green-400 rounded-lg text-lg font-medium">
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
{% endblock %}
