{% extends "admin/layout_admin.html" %} {% block sidebar %}{% include
'admin/dashboard.html' %}{% endblock %} {% block content %}
<div class="p-6 flex flex-col h-full">
  <div class="mb-10 text-center mt-4">
    <h1 class="text-4xl font-bold text-black">Buat Program Baru</h1>
  </div>

  {% include 'partials/flash.html' %}

  <div class="flex-1 bg-[#0BDAAA] rounded-3xl p-8 overflow-y-auto mt-4">
    <form
      method="post"
      action="{{ url_for('program.create_program') }}"
      class="space-y-4"
    >
      <input
        type="text"
        name="nama_program"
        placeholder="program name"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold placeholder-black/40 focus:outline-none"
        required
      />
      <input
        type="text"
        name="sektor_program"
        placeholder="sector/category"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold placeholder-black/40 focus:outline-none"
        required
      />
      <textarea
        name="tujuan_program"
        rows="3"
        placeholder="target/goal"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold placeholder-black/40 focus:outline-none"
        required
      ></textarea>
      <input
        type="text"
        name="lokasi_program"
        placeholder="region"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold placeholder-black/40 focus:outline-none"
        required
      />
      <select
        name="status_program"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold focus:outline-none"
        required
      >
        <option value="" disabled selected style="background-color: #15f275">
          Pilih status program
        </option>
        <option
          value="perencanaan"
          style="background-color: #15f275; font-weight: bold"
        >
          Perencanaan
        </option>
        <option
          value="berjalan"
          style="background-color: #15f275; font-weight: bold"
        >
          Berjalan
        </option>
        <option
          value="selesai"
          style="background-color: #15f275; font-weight: bold"
        >
          Selesai
        </option>
      </select>
      <textarea
        name="deskripsi_program"
        rows="5"
        placeholder="criteria/description"
        class="w-full px-4 py-3 bg-black/10 rounded-xl text-black font-bold placeholder-black/40 focus:outline-none"
      ></textarea>
      <div class="flex justify-center pt-4">
        <button
          type="submit"
          class="bg-[#15F275] hover:bg-[#C7FB01] text-black font-bold px-20 py-3 rounded-full transition shadow-md hover:shadow-xl"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
