{% extends "admin/layout_admin.html" %} {% block sidebar %} {% include
'admin/sidebar.html' %} {% endblock %} {% block content %}

<!--============================= KONTEN UTAMA ===========================-->
<div class="p-6 flex flex-col h-screen">
  <!-- ========================== judul halaman ============================= -->
  <h1 class="mt-4 mb-6 text-center text-4xl font-bold text-black">
    Statistical Program
  </h1>
{% include 'partials/flash.html' %}

  <!-- =========================== KONTEN UTAMA ================================ -->
  <div
    class="mt-8 flex-1 flex bg-[#0BDAAA] rounded-3xl p-8 overflow-hidden "
  >
    {% if programs | length > 0 %}

    <!-- =========================== BIAR MUNCUL SKROL BAR ================================ -->
    <div class="overflow-y-auto w-full">
      {% for program in programs %}

      <!-- =========================== PER BAGIAN PROGRAM ================================ -->
      <div class="bg-black/10 rounded-2xl p-6 mb-8">
        <h3 class="text-2xl text-center font-bold text-black">
          Program : {{ program[1] }}
        </h3>

        <!-- ===================== sektor, lokasi dan status ======================= -->
        <div class="space-y-2 text-sm">
          <div class="font-bold text-black">Sector : {{ program[2] }}</div>
          <div class="font-bold text-black">Region : {{ program[4] }}</div>
          <div class="flex items-center gap-2 font-bold text-black">Status :
            <span
            class="inline-block p-1 rounded-full {% if program[5] == 'berjalan' %} bg-[#15F275] {% elif program[5] == 'selesai' %} bg-[#C7FB01] {% else %} bg-white/50 {% endif %}"
            >
            {{ program[5] }}
          </div>
        </div>
        
        <!-- ===================== bagian tujuan program ======================= -->
        <div class="mb-2 mt-4">
          <p class="font-bold text-black">Program Terget:</p>
          <p class="text-black">{{ program[3] }}</p>
        </div>
        
        <!-- ===================== bagian deskripi program ======================= -->
        <div class="mb-8">
          <p class="font-bold text-black">Program Description:</p>
          <p class="text-black">{{ program[6] }}</p>
        </div>
        
        
        <!-- ===================== bagian button ======================= -->
        <div class="flex items-center justify-between gap-3">
          <div class="flex items-center gap-3">
            <a
              href="{{ url_for('statistik.statistik_persentase_program', program_id=program[0]) }}"
              class="px-6 py-2 rounded-full text-sm font-semibold text-black bg-white/70 hover:bg-[#15F275] "
            >
              Statistik Persentase
            </a>

            <a
              href="{{ url_for('statistik.statistik_output_ekonomi', program_id=program[0]) }}"
              class="px-6 py-2 rounded-full text-sm font-semibold text-black bg-white/70 hover:bg-[#15F275] "
            >
              Statistik Ekonomi
            </a>
          </div>

          <div class="flex items-center gap-3">
            <a
              href="{{ url_for('program.edit_program', program_id=program[0]) }}"
              class="px-6 py-2 rounded-full text-sm font-semibold text-black bg-green-300 hover:bg-[#15F275]"
            >
              Update Program
            </a>

            <form
              method="POST"
              action="{{ url_for('program.delete_program', program_id=program[0]) }}"
              onsubmit="return confirm('Yakin ingin menghapus program ini?')"
            >
              <button
                type="submit"
                class="px-6 py-2 rounded-full text-sm font-semibold text-black bg-red-500/90 hover:bg-red-800"
              >
                Delete Program
              </button>
            </form>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
  
  {% else %}
  

  <!-- ===================== JIKA BELUM ADA PROGRAM ======================= -->
  <div class="flex flex-1 flex-col items-center justify-center text-center">
    <p class="mb-6 text-lg font-bold text-black">There are no programs yet.</p>
    
    <a
    href="{{ url_for('program.create_program') }}"
    class="inline-block px-20 py-3 rounded-full font-bold text-black bg-[#15F275] hover:bg-[#C7FB01]"
    >
        Create a Program Now
      </a>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
