{%extends 'layout.html'%}

{%block header%} <h1>Silahkan Login</h1> {%endblock%}

{%block aside%} {%endblock%}

{%block article%} 
     <form method="post">
        <label for="email">Email</label>
        <input name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <div class="" id="notification">
                {% block notification %}
                    {% for notif in get_flashed_messages() %} 
                        <span>{{ notif }}</span>
                    {% endfor %}
                {% endblock %}
        </div>

        <input type="submit" value="Log In">
    </form>
{%endblock%}