{%extends 'layout.html'%}

{%block nav%} 

{%endblock%}

{%block header%} 
{%endblock%}
{% block body_class %}auth{% endblock %}
{%block aside%} 
<div class="image-box">Pict</div>
{%endblock%}

{%block article%} 
<section class="form-section">

  <header  class="logo-wrapper">
    <img src="{{ url_for('static', filename='images/logo.png') }}"
         alt="Logo"
         class="auth-logo">
    <p>Please create account to continue</p>
  </header>
    <form method="post">
        <label for="nama">Nama Lengkap</label>
        <input name="nama" id="nama" required>

        <label for="email">Email</label>
        <input name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
        <label for="konfimasi_password"> Konfirmasi Password</label>
        <input type="password" name="conf_password" id="conf_password">

        <div class="" id="notification">
                {% block notification %}
                    {% for notif in get_flashed_messages() %} 
                        <span>{{ notif }}</span>
                    {% endfor %}
                {% endblock %}
        </div>

        <input type="submit" value="Register">
    </form>
</section>
{%endblock%}